.leaflet-popup-tip {
    background-color: rgb(14 116 144);
}

.leaflet-popup-content-wrapper {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.leaflet-popup-content p {
    margin: 0;
}

.leaflet-popup-content {
    margin: 0;
}
