.leaflet-popup-tip {
    display: none !important;
}

.leaflet-popup-content-wrapper {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.leaflet-popup-content p{
    margin: 0;
}